extends ../layout

block content
  nav.navbar.subnav
    a.a-selected(href='/admin/areas') AREAS
    a(href='/admin/users') USERS

  hr

  h2= area.name

  nav.navbar.subnav
    a#area-info-link.a-selected(href='#') Area info
    a#area-rooms-link(href='/admin/editarea/#{area._id}/rooms') Rooms
    a#area-units-link(href='#') Units
    a#area-items-link(href='#') Items

  hr

  .grid-space-around
    if message && message.length > 0
      span.error= message
    else
      span.error.hidden Placeholder

  form#area-info(method='post', action='/admin/editarea/#{area._id}')
    .grid-flex-start.nomargin-bottom
      span Identifier
    .grid-flex-start
      input.text(type='text', name='areaIdentifier', value=area._id, disabled)

    .grid-flex-start.nomargin-bottom
      span Name
    .grid-flex-start
      input.text(type='text', name='areaName', value=area.name)

    .grid-flex-start.nomargin-bottom
      span Description
    .grid-flex-start
      textarea(name='areaDescription')= area.description

    .grid-flex-start
      .buttons
        section.flat
          button#newarea-button(type='submit') Save
