extends ../layout

block content
  nav.navbar
    a(href='/admin/areas') AREAS
    a(href='/admin/users') USERS

  hr

  h2= area.name

  nav.navbar
    a(href='#', onclick='editAreaInfo()') Area info
    a(href='#', onclick='editAreaRooms(#{area})') Rooms
    a(href='#', onclick='editAreaUnits()') Units
    a(href='#', onclick='editAreaItems()') Items

  hr

  form#area-info(method='post', action='/admin/editarea/#{area._id}')
    .grid-flex-start.nomargin-bottom
      span Identifier
    .grid-flex-start
      input.text(type='text', name='areaIdentifier', value=area._id)

    .grid-flex-start.nomargin-bottom
      span Name
    .grid-flex-start
      input.text(type='text', name='areaName', value=area.name)

    .grid-flex-start.nomargin-bottom
      span Description
    .grid-flex-start
      textarea(name='areaDescription')= area.description

    .grid-flex-start
      .buttons
        section.flat
          button#newarea-button(type='submit') Save

  form#area-rooms.display-none(method='post', action='/admin/editroom/#{area._id}')
    #rooms-nodes

    .grid-space-around
      .buttons
        section.flat
          button#button-newroom(onclick='createNewRoom(); return false;') Create new room

    #room-fields.grid-space-around.display-none(style='margin-top: 20px; align-items: flex-start')
      input#roomId(type='hidden', name='roomId', value='')

      .grid-cell
        .grid-flex-start.nomargin-bottom
          span North exit
        .grid-flex-start
          input.text(type='text', name='roomExitNorth')

        .grid-flex-start.nomargin-bottom
          span East exit
        .grid-flex-start
          input.text(type='text', name='roomExitEast')

        .grid-flex-start.nomargin-bottom
          span South exit
        .grid-flex-start
          input.text(type='text', name='roomExitSouth')

        .grid-flex-start.nomargin-bottom
          span West exit
        .grid-flex-start
          input.text(type='text', name='roomExitWest')

        .grid-flex-start.nomargin-bottom
          span Up exit
        .grid-flex-start
          input.text(type='text', name='roomExitUp')

        .grid-flex-start.nomargin-bottom
          span Down exit
        .grid-flex-start
          input.text(type='text', name='roomExitDown')

      .grid-cell
        .grid-flex-start.nomargin-bottom
          span Title
        .grid-flex-start
          input#roomTitle.text(type='text', name='roomTitle')

        .grid-flex-start.nomargin-bottom
          span Description
        .grid-flex-start
          textarea#roomDescription(name='roomDescription')

        .grid-flex-start
          .buttons
            section.flat
              button#editroom-button(type='submit') Save

  form#area-units.display-none(method='post', action='/admin/editarea/units/#{area._id}')
    span Units  

  form#area-items.display-none(method='post', action='/admin/editarea/items/#{area._id}')
    span Items
