extends ../layout

block content
  nav.navbar.subnav
    a.a-selected(href='/admin/areas') AREAS
    a(href='/admin/users') USERS

  hr

  h2= area.name

  nav.navbar.subnav
    a#area-info-link(href='/admin/editarea/#{area._id}') Area info
    a#area-rooms-link.a-selected(href='#') Rooms
    a#area-units-link(href='#') Units
    a#area-items-link(href='#') Items

  hr

  if (rooms && rooms.length)
    each room in rooms
      .glid-flex-start
        a(href='/admin/editarea/#{area._id}/editroom/#{room._id}') Edit &nbsp;
        span |
        a(href='#') &nbsp; Delete &nbsp;
        span= room.title
