extends ../layout

block content
  nav.navbar.subnav
    a.a-selected(href='/admin/areas') AREAS
    a(href='/admin/users') USERS

  hr

  h2= area.name

  nav.navbar.subnav
    a#area-info-link(href='/admin/editarea/#{area._id}') Area info
    a#area-rooms-link.a-selected(href='#') Rooms
    a#area-units-link(href='#') Units
    a#area-items-link(href='#') Items

  hr

  .grid-space-around
    if message && message.length > 0
      span.error= message
    else
      span.error.hidden Placeholder

  .grid-space-around
    .grid-space-around
      a.add-char(href='#', onclick='createNewRoom()') Create new room

  form#area-rooms.display-none(method='post', action='/admin/editarea/#{area._id}/room')
    .grid-space-around(style='align-items: flex-start')
      input.roomId(type='hidden', name='roomId', value='')

      .grid-cell
        .grid-flex-start.nomargin-bottom
          span Title
        .grid-flex-start
          input#roomTitle.text(type='text', name='roomTitle')

        .grid-flex-start.nomargin-bottom
          span Description
        .grid-flex-start
          textarea#roomDescription(name='roomDescription')

      .grid-cell
        .grid-flex-start.nomargin-bottom
          span Floor
        .grid-flex-start
          input#roomFloor.text(type='text', name='roomFloor')

        .grid-flex-start
          .buttons
            section.flat
              button#editroom-button(type='submit') Save

  form#room-exits.display-none(method='post', action='/admin/editarea/#{area._id}/roomexits')
    input.roomId(type='hidden', name='roomId', value='')

    .grid-space-around
      span#room-title

    .grid-space-around
      .grid-cell
        .grid-flex-start.nomargin-bottom
          span North Exit
        .grid-flex-start
          select.north-exit(name='roomNorthExit')
            option(value='')
            if (rooms && rooms.length)
              each room in rooms
                option(value=room._id)= room.title

        .grid-flex-start.nomargin-bottom
          span East Exit
        .grid-flex-start
          select.north-exit(name='roomEastExit')
            option(value='')
            if (rooms && rooms.length)
              each room in rooms
                option(value=room._id)= room.title

        .grid-flex-start.nomargin-bottom
          span South Exit
        .grid-flex-start
          select.north-exit(name='roomSouthExit')
            option(value='')
            if (rooms && rooms.length)
              each room in rooms
                option(value=room._id)= room.title

      .grid-cell
        .grid-flex-start.nomargin-bottom
          span West Exit
        .grid-flex-start
          select.north-exit(name='roomWestExit')
            option(value='')
            if (rooms && rooms.length)
              each room in rooms
                option(value=room._id)= room.title

        .grid-flex-start.nomargin-bottom
          span Up Exit
        .grid-flex-start
          select.north-exit(name='roomUpExit')
            option(value='')
            if (rooms && rooms.length)
              each room in rooms
                option(value=room._id)= room.title

        .grid-flex-start.nomargin-bottom
          span Down Exit
        .grid-flex-start
          select.north-exit(name='roomDownExit')
            option(value='')
            if (rooms && rooms.length)
              each room in rooms
                option(value=room._id)= room.title

    .grid-space-around
      .buttons
        section.flat
          button#roomexits-button(type='submit') Save

  if (rooms && rooms.length)
    each room in rooms
      .glid-flex-start
        a(href='#', onclick="editRoom('#{room._id}', '#{room.title}', '#{room.description}', #{room.floor})") Edit &nbsp;
        span |
        a(href='#') &nbsp; Delete
        span |
        a(href='#', onclick="editRoomExits('#{room._id}', '#{room._title}')") &nbsp; Exits &nbsp;
        span= room.title
