extend layout

block content
  if message && message.length
    .grid-space-around
      p.success= message

  if characters && characters.length
    .characters.grid-space-around
      each character in characters
        div(class='grid-space-around char-frame char-frame-#{character.charClass}')
          img(src='/images/weapon_#{character.charClass}.png')
          span &nbsp; #{character.name} (level #{character.level} #{character.charClass})
  else
    h3 You have no characters created.

  .grid-space-around.margin-top-20
    a.add-char(href='/profile/' + user._id + '/newchar') Create new character
