extends loginLayout

block content
  div(class='register')
    p.login-logo SS MUD
    if message && message.length > 0
      span.error= message
    else
      span.hidden Placeholder
    form(class='register-form' method='post', action='/signup')
      ul(class="input-list style-1 clearfix")
        input(type="text", id="su-username" placeholder="username", name="username", value=data.username)
        input(type="email", id="su-email" placeholder="e-mail", name="email", value=data.email)
        input(type="password", id="su-passwd" placeholder="password", name="password", value=data.password)
        //- input(type="password", id="su-retypepasswd" placeholder="retype password", name="retypepassword", value=data.retypepassword)
      div(class="g-recaptcha" data-sitekey="6LfVJgUTAAAAAJg3RnIq5TwoFqVE11gbFO_QSDO4")
      div(class='buttons')
        section(class='flat')
          button(id='signup-button' type='submit') Sign up!
      span Already have an account? &nbsp;
      a(href='/login') Log in!
